# String Functions
#### Python contains many useful built-in functions and methods to acomplish common tasks.  
___
- **join** \- joins a list of strings with another string as a separator
- **replace** \- replaces one substring in a string with another.
- __startswith__ and __endswith__ \- determines if there is a substring at the start and end of a string respectively
- **upper** and **lower** \- used to change the case of a string
- **split** - turns a string with a certain separator into a list
- **join** - method called on a string to join all items in a list with the string as a separator

#### Examples:
___

In [1]:
print(" ".join(['Hi','I','am','practicing','python.']))

Hi I am practicing python.

In [2]:
print("Hello ME".replace("ME","world!"))

Hello world!

In [3]:
"This sentence starts with 'This'.".startswith("This")

True

In [4]:
"Here is another sentence.".endswith('sentence.')

True

In [5]:
"This will output a sentence in all uppercase.".upper()

'THIS WILL OUTPUT A SENTENCE IN ALL UPPERCASE.'

In [6]:
"This will output a sentence in all lowercase.".lower()

'this will output a sentence in all lowercase.'

In [7]:
"Splitting, Comma, Separated, Strings, Into, List".split(', ')

['Splitting', 'Comma', 'Separated', 'Strings', 'Into', 'List']

# Numeric Functions:
___
- To find the maximum or minimum of some numbers or a list,  
you can use **max** or **min**.  
- To find the distance  of a number from zero (absolute value) use **abs**.
- To round a number to a certain number of decimal places, use **round**
- To find the total of a list use **sum**

#### Examples:
___

In [9]:
min(1,2,3,4,0,1,2)

0

In [10]:
max([1,2,3,6,5,4,3,2,1])

6

In [11]:
abs(-101)

101

In [12]:
abs(62)

62

In [13]:
sum([1,3,4,5,2,1])

16

In [15]:
min([sum([11,22]),max(abs(-30),2)])

30

# List Functions:
___
Often used in conditional statements, **all** and **any** take a list  
as an argument, and return **True** if all or any (respectively)  
of the arguments evaluate to **True** (and **False** otherwise).

The function **enumerate** can be used to iterate through the values and indices  
of a list simultaneously

#### Examples:
___

In [16]:
nums = [55, 44, 33, 22, 11]

a = [i>11 for i in nums]
print(a)

[True, True, True, True, False]